# Server configuration
PORT=3000
ADDRESS=0.0.0.0

# Public URL used in API docs server field
# In production: https://api.m2m-ads.com
PUBLIC_URL=

# Database connection string
DATABASE_URL=postgresql://user:password@localhost:5432/m2m_dev

# Docker image name (used for build/push)
# Example: dockhub.xx.xxx/m2m-ads:0.1.0
IMAGE= 
